
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Raleway", sans-serif;
}

:root{
    --corPrincipal:#5fb9bf;
    --corTexto:#676767;
}

header {
    background-color: var(--corPrincipal);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo img{
    height: 6rem;
    width: 9rem;
    /* border-radius: 50%; */
    /* margin-left: 10rem; */
}

.navbar {
    display: flex;
    gap: 40px;
    /* isso tá indo muito */
    /* margin-left: 50rem; */
    
}

.menu {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    /* vh é medida em relação a altura da tela então 100vh
    é 100% da altura 50vh é 50% da altura da tela
    da mesma forma existe para largura (width) vw
     */
    display: none;
    width: 100vw;
    flex-direction: column;
    background-color: var(--corPrincipal);
    padding: 22px;
    gap: 8px;
}

.menu.active {
    display: flex;
}

.menu a {
    color: #EAF7F7;
    font-size: 20px
}

.menu-close {
    display: block;
    width: 100%;
    text-align: center;
}

/* Esse estilo do botao, problema que ele tá
só para login, minha ideia é mudar para classe
de botão primario */
.btn-primary {
    padding: 10px 30px;
    color: #202020;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    border: none;
    background-color: #dcdcdc;
    transition: 1s background;
    cursor: pointer;
    border-radius: 10px;
}


.btn-primary:hover {
    background-color: #dcdcdcac;
    transition: 1s background;
}

.btn-secondary {
    font-family: "Raleway", sans-serif;
    padding: 10px 30px;
    font-size: 15px;
    border: none;
    color: #fff;
    background-color: #202020;
    cursor: pointer;
    border-radius: 10px;
}

.btn-secondary:hover{
    background-color: #3f3f3f;
    transition: 1s background;
}

.btn{
    position: relative;

}

/* capa */

.capa{
    background-color: var(--corPrincipal);
    text-align: center;
    border-radius: 0% 0% 50% 50% / 25% 25% 25% 25%;
    
}

.capa .titulo h3{
    background-color: var(--corPrincipal);
    font-weight: 600;
    font-size: 33px;
    color: #fff;
    padding: 22px;
    text-align: center;
}

.capa .titulo h3 span{
    background-color: var(--corPrincipal);
    color: #5B72EE;
    font-weight: 700;
}

.capa .paragrafo p{
    background-color: var(--corPrincipal);
    color: #fff;
    text-align: center;
    padding: 22px;
    font-weight: 500;
    line-height: 25px;
}

.capa .imagem {
    text-align: center;
    margin-top: 40px;
}

.capa .imagem img{
    display: block;
    margin: auto;
    width: 100%;
    border-bottom-left-radius:50% ;
    border-bottom-right-radius: 50%;
}

.capa .botao{
    padding: 5px 20px;
    color: #202020;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    border: none;
    background-color: #dcdcdc;
    transition: 1s background;
    cursor: pointer;
    border-radius: 10px;
   
}

/* sucess */

.sucess .numbers{
    display: flex;
    justify-content: space-between;
}

.sucess{
    text-align: center;
    padding-top: 3rem;
}

.sucess h3{
    font-weight: 700;
    font-size: 1.8rem;
}

.sucess p{
    padding-top: 1rem;
    line-height:25px ;
    color: var(--corTexto);
}

.sucess .numbers{
    padding-top: 1.8rem;
}

.carousel-container {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.numbers-carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 500%;
}

.number {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

button.prev, button.next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #dcdcdc;
    color: #202020;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

button.prev:hover, button.next:hover {
    background-color: #c0c0c0; 
    color: #000000; 
}


button.prev {
    left: 0;
}


button.next {
    right: 0;
}

.number h4{
    color: #2A6680;
    font-size: 50px;
    font-weight: 600;
}

.number p{
    font-weight: 500;
}

/* cloud */
.cloud{
    text-align: center;
    padding-top: 3rem;
}

.cloud h3{
    color: #5165d1;
    font-weight: 800;
    font-size: 1.5rem;
}

.cloud p{
    padding-top: 1rem;
    line-height:25px ;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: var(--corTexto);
}

.cloud .offer {
    padding-top: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.43);
    margin-left: 10%;
    margin-right: 10%;
    /* display: block; */
    margin: 7%;
    border-radius: 10px;
    box-shadow: rgb(232, 234, 235) 4px 4px 20px 0px;
}

.offer h2{
    color: #5165d1;
}

.offer span h2 {
    margin-right: 10px; /* Adjust the value as needed */
}



@media(min-width:768px){
    #menu-btn, .menu-close {
        display: none;
    }

    .menu {
        display: flex;
        position: relative;
        height: auto;
        width: min-content;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .btn {
        display: flex;
        gap: 8px;
        height: 45px;
    }

    .capa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center; 
        overflow: hidden;
    }

    .texto, .imagem {
        /* flex = faz com tenha tamanho proporcional */
         flex: 1; 
         padding: 20px;  
         padding-bottom: 0;
    }

    .capa .imagem img{
        max-width: 100%;
        border-radius: 0% 0% 20% 20% / 25% 25% 25% 25%;
       
    }

    button.prev, button.next {
       display: none;
    }

    .number{
        flex: 0;
        justify-content: space-between;
        text-align: center;
    }

    .carousel-container{
        overflow: visible;
        display: flex;
        justify-content: center;
    }

    .sucess{
        text-align: center;
    }

    .number h4{
       background: linear-gradient( #1874b6,#3196b9,#47b7bd);
       --webkit-background-clip:text;
       background-clip: text;
       color: transparent;
    }
}

@media (min-width: 1200px) {
    .capa .texto .paragrafo p {
        font-size: 20px;
     }
}
